1. Remember the format() function we used in the last video?? Now pass 145 and ‘o’ in the function and see what it returns. Try to find out which representation it is.

In [3]:
format(145, 'o')

'221'

2. There is a circular pond in a village. This pond has a radius of 84 meters. Can you find the area of the pond? (Bonus: If there is exactly 1.4 liter of water in a square meter, what is the total amount of water in the pond?)

In [4]:
radius = 84
area = 3.14 * (radius ** 2)
print(area)

22155.84

In [6]:
water_in_area = 1.4
water_in_pond = water_in_area * area
print(water_in_pond)

31018.176